.page_title {
   font-family: 'Inter', serif;
   font-weight: bold;
   font-size: 24px;
   line-height: 29px;
   letter-spacing: -0.01em;
   color: #141b4d;
}

.pointer {
   cursor: pointer;
}

.subtitle {
   font-family: 'Inter', serif;
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 19px;
   letter-spacing: -0.01em;
   color: #a3a3a3;
}

.section_title {
   font-family: 'Inter', serif;
   font-weight: bold;
   font-size: 18px;
   line-height: 16px;
   color: #141b4d;
}

.boxed-font {
   font-family: 'Inter', serif;
   font-style: normal;
   font-weight: 700;
   font-size: 24px;
   line-height: 29px;
   letter-spacing: -0.01em;
   color: #e62865;
}

.row-title {
   font-family: 'Inter', serif;
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 19px;
   color: #757373;
}

.row-text {
   font-family: 'Inter', serif;
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 20px;
   color: #a3a3a3;
}
