<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                </ng-template>
            </p-toolbar>

            <p-table #dt
                     [loading]="loading"
                     [scrollable]="true"
                     scrollHeight="flex"
                     [lazy]="true"
                     [resizableColumns]="true"
                     columnResizeMode="expand"
                     dataKey="id"
                     (onLazyLoad)="setPage($event)"
                     [paginator]="true"
                     [rowHover]="true"
                     [value]="page.content"
                     [rows]="page.page.size"
                     [totalRecords]="page.page.totalElements"
                     responsiveLayout="scroll"
                     [rowsPerPageOptions]="[10,20,30]"
                     [showCurrentPageReport]="true"
                     currentPageReportTemplate="{{ 'COMMON.TABLE_PAGING' | translate }}"
                     selectionMode="multiple">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">{{ 'USERS.MANAGE' | translate }}</h5>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="name">{{ 'COMMON.FIELD_NAME' | translate }} <p-sortIcon field="firstName"></p-sortIcon></th>
                        <th pSortableColumn="name">{{ 'COMMON.FIELD_USERNAME' | translate }} <p-sortIcon field="lastName"></p-sortIcon></th>
                        <th pSortableColumn="createdAt">{{ 'COMMON.FIELD_CREATED_AT' | translate }} <p-sortIcon field="dundieAwards"></p-sortIcon></th>
                        <th pSortableColumn="createdAt">{{ 'COMMON.FIELD_UPDATED_AT' | translate }} <p-sortIcon field="organizationId"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-row>
                    <tr>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">{{ 'COMMON.FIELD_NAME' | translate }} </span>
                            {{ row.firstName }}
                        </td>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">{{ 'COMMON.FIELD_USERNAME' | translate }} </span>
                            {{row.lastName }}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">{{ 'COMMON.FIELD_CREATED_AT' | translate }} </span>
                            {{row.dundieAwards }}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">{{ 'COMMON.FIELD_UPDATED_AT' | translate }} </span>
                            {{row.organizationId}}
                        </td>
                        <td>
                            <div class="flex justify-content-end flex-wrap">
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
