.link {
   color: #ae003a;
   font-weight: 400;
   text-decoration: underline;
}

.neutral {
   font-weight: 400;
   color: #757373;
}

.legal-title {
   font-family: 'Inter', serif;
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   line-height: 19px;
   letter-spacing: -0.01em;

   color: #757373;
}

.legal-text {
   font-family: 'Inter', serif;
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 19px;
   letter-spacing: -0.01em;
   color: #757373;
}