<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <span class="mr-2">Total Awards</span> <p-badge [value]="totalAwards" severity="success" />
                </ng-template>
            </p-toolbar>

            <p-table #dt
                     [loading]="loading"
                     [scrollable]="true"
                     scrollHeight="flex"
                     [lazy]="true"
                     [resizableColumns]="true"
                     columnResizeMode="expand"
                     dataKey="id"
                     (onLazyLoad)="setPage($event)"
                     [paginator]="true"
                     [rowHover]="true"
                     [value]="page.content"
                     [rows]="page.page.size"
                     [totalRecords]="page.page.totalElements"
                     responsiveLayout="scroll"
                     [rowsPerPageOptions]="[10,20,30]"
                     [showCurrentPageReport]="true"
                     currentPageReportTemplate="{{ 'COMMON.TABLE_PAGING' | translate }}"
                     selectionMode="multiple">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">{{ 'COMMON.MANAGE' | translate }}</h5>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="firstName">{{ 'COMMON.FIELD_FIRSTNAME' | translate }} <p-sortIcon field="firstName"></p-sortIcon></th>
                        <th pSortableColumn="lastName">{{ 'COMMON.FIELD_LASTNAME' | translate }} <p-sortIcon field="lastName"></p-sortIcon></th>
                        <th pSortableColumn="dundieAwards">{{ 'EMPLOYEE.AWARDS' | translate }} <p-sortIcon field="dundieAwards"></p-sortIcon></th>
                        <th pSortableColumn="organizationId">{{ 'EMPLOYEE.ORGANIZATION_ID' | translate }} <p-sortIcon field="organizationId"></p-sortIcon></th>
                        <th pSortableColumn="organizationName">{{ 'EMPLOYEE.ORGANIZATION_NAME' | translate }} <p-sortIcon field="organizationName"></p-sortIcon></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-row>
                    <tr>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">{{ 'COMMON.FIELD_FIRSTNAME' | translate }} </span>
                            {{ row.firstName }}
                        </td>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">{{ 'COMMON.FIELD_LASTNAME' | translate }} </span>
                            {{row.lastName }}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">{{ 'EMPLOYEE.AWARDS' | translate }} </span>
                            {{row.dundieAwards }}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">{{ 'EMPLOYEE.ORGANIZATION_ID' | translate }} </span>
                            {{row.organizationId}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">{{ 'EMPLOYEE.ORGANIZATION_NAME' | translate }} </span>
                            {{row.organizationName}}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
